@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --suface--color:  rgba(255, 255, 255, 0.5);
  --suface--color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch--bg-url: url(./assets/moons-stars.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
#container {
  padding-top: 56px;
  width:100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}
#switch button{
  width: 32px;
  height: 32px;
  background: white  var(--switch--bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
 cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
 
}
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--suface--color);
  border: 1px solid var(--stroke-color);
  --webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  
}
.light #switch button{
 right: 0;
 left: initial;
}
.light {
  --text-color: black;
  --bg-url: url(./assets/Background.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --suface--color: rgba(255, 255, 255, 0.05)
  --suface--color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch--bg-url: url(./assets/sun.svg);
 
}



ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  background-color: var(--suface--color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}

ul li a:hover {
  background-color: var(--suface--color);
  border: 1x solid var(--text-color);
}
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color:var(--highlight-color);
}

footer {
  padding: 24px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 700px){
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }
    .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}